@()
@defining(play.core.PlayVersion.current) { version =>
<hr style="height:20px;">
<article>
  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2>Customers</h2>
        <p>Access the customer collection of the database.</p>
        <p><a class="btn btn-primary" href="@routes.HomeController.customerPage()" role="button" style="border-radius: 0 !important;">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Products</h2>
        <p>Access the product collection of the database.</p>
        <p><a class="btn btn-danger" href="@routes.HomeController.productPage()" role="button" style="border-radius: 0 !important;">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Orders</h2>
        <p>Access the order collection of the database.</p>
        <p><a class="btn btn-success" href="@routes.HomeController.orderPage()" role="button" style="border-radius: 0 !important;">View details »</a></p>
      </div>
    </div>
</article>
<hr style="height:20px; width: 100%;">
<!--<h3>Related Resources</h3>-->
<!--<ul>-->
<!--  <li><a href="https://playframework.com/documentation/@version" target="_blank">Play documentation</a></li>-->
<!--  <li><a href="https://discuss.lightbend.com/c/play/" target="_blank">Forum</a></li>-->
<!--  <li><a href="//gitter.im/playframework/playframework" target="_blank">Gitter Channel</a></li>-->
<!--  <li><a href="//stackoverflow.com/questions/tagged/playframework" target="_blank">Stackoverflow</a></li>-->
<!--  <li><a href="//lightbend.com/how" target="_blank">Professional support</a></li>-->
<!--</ul>-->
}