@import helper._

@(customerForm: Form[CustomerForm])(implicit request: RequestHeader, messages: Messages)

@main("Scala Play forms tutorial") {
<h1>Scala Play forms tutorial</h1>
<div style="margin-left: 48px">
    @form(action = routes.HomeController.customerCreateFormsAction()) {
    @inputText(customerForm("username"))
    @inputText(customerForm("forename"))
    @inputText(customerForm("surname"))
    @inputText(customerForm("age"))


    <input type="submit" value="Submit">
</div>
    }
}
