@import helper._

@(customerForm: Form[CustomerForm])(implicit request: RequestHeader, messages: Messages)

@main("Scala Play forms tutorial") {
<h1>Scala Play forms tutorial</h1>
<div style="margin-left: 48px">
    @form(action = routes.CustomerController.customerCreateFormAction()) {
    @helper.inputText(customerForm("_id"), 'type -> "hidden", '_label -> "", 'style -> "display: none")
    @helper.inputText(customerForm("username"))
    @helper.inputText(customerForm("forename"))
    @helper.inputText(customerForm("surname"))
    @helper.inputText(customerForm("age"))


    <input type="submit" value="Submit">
</div>
    }
}
