@()

@main("Hello World") {
@defining(play.core.PlayVersion.current) { version =>

<article>
    @commonSidebar()
    <h1 style="margin-left: 25px;">Customers</h1>
<!--    @findCustomerByName("Borth")-->
    <a href="@routes.CustomerController.customerCreateForm">Create Customers</a>
    <a href="@routes.CustomerController.customerFindAll">Read Customers</a>
    <a href="@routes.CustomerController.customerUpdateForm">Update Customers</a>
    <a href='@routes.CustomerController.customerDeleteForm'>Delete Customers</a>



</article>

}
}
