@()

@main("Hello World") {
@defining(play.core.PlayVersion.current) { version =>

<article>
    @commonSidebar()
    <h1 style="margin-left: 25px;">Customers</h1>
<!--    @findCustomerByName("Borth")-->
    <a href="@routes.CustomerController.customerCreateForms">Create Customer</a>
    <a href="@routes.CustomerController.customerFindAll">Read Customers</a>
    <a href="@routes.CustomerController.customerUpdateForms()">Update Customer</a>
    <a href='@routes.CustomerController.customerDeleteForms'>Delete Customer</a>



</article>

}
}
