@import helper._

@(customerUpdateForm: Form[CustomerForm])(implicit request: RequestHeader, messages: Messages)

@main("Scala Play forms tutorial") {
<h1>Scala Play forms tutorial</h1>
<div style="margin-left: 48px">
    @form(action = routes.CustomerController.customerUpdateFormAction()) {
    @helper.inputText(customerUpdateForm("_id"), 'type -> "hidden", '_label -> "", 'style -> "display: none")
    @helper.inputText(customerUpdateForm("username"))
    @helper.inputText(customerUpdateForm("forename"))
    @helper.inputText(customerUpdateForm("surname"))
    @helper.inputText(customerUpdateForm("age"))


    <input type="submit" value="Submit">
</div>
    }
}
