@()

@defining(play.core.PlayVersion.current) { version =>

<section>

    <form style="margin-left: 25px;">
        <label for="usernameId">Username</label>
        <input type="text" id="usernameId" name="usernameId"><br><br>
        <a type="button" id="link2" >rthfty7ujyukguyik</a>
    </form>

    <a id="link2">sergdrhhy</a>
    <p style="margin-left: 25px;">Now, let's <a id="link2">explore the tutorial Play application</a>.</p>
    <p style="margin-left: 25px;">wefsegdrthdtry</p>

</section>


}
