@import helper._

@(orderForm: Form[OrderForm])(implicit request: RequestHeader, messages: Messages)

@main("Scala Play forms tutorial") {
<h1>Scala Play forms tutorial</h1>
<div style="margin-left: 48px">
    @helper.form(action = routes.OrderController.orderCreateFormAction()) {

    @helper.inputText(orderForm("username"))

    @helper.repeat(orderForm("products"), min = 1) { productList =>
        @helper.inputText(productList("name"))
        @helper.inputText(productList("quantity"))
    }

    @helper.inputText(orderForm("date"))
    @helper.inputText(orderForm("totalPrice"))


    <input type="submit" value="Submit">

</div>
}
}
